<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>과목 추가</title>
    <!-- 부트스트랩 CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 50px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-title {
            margin-bottom: 30px;
        }
        .btn {
            width: 48%; /* 취소 및 추가 버튼 너비 조정 */
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="form-title text-center">과목 추가</h2>
    <form th:action="@{/subjects/add}" method="post">
        <div class="form-group">
            <label for="name">과목명</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="과목명 입력" required>
        </div>
        <div class="form-group">
            <label for="price">가격</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="가격 입력" required>
        </div>
        <button type="submit" class="btn btn-primary" >과목 추가</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">취소</button>
    </form>
</div>

<!-- 부트스트랩 JS 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>